/build
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
MaterialEditText/.gitignore
MaterialEditText/MaterialEditText.iml
MaterialEditText/build.gradle
MaterialEditText/gradle.properties
MaterialEditText/proguard-rules.pro
MaterialEditText/src/
RippleLibrary/.gitignore
RippleLibrary/build.gradle
RippleLibrary/proguard-rules.pro
RippleLibrary/src/
SBC - Copy.iml
SBC new.iml
SBC.iml
ToggleButtonLib/.classpath
ToggleButtonLib/.project
ToggleButtonLib/AndroidManifest.xml
ToggleButtonLib/ToggleButtonLib.iml
ToggleButtonLib/bin/
ToggleButtonLib/build.gradle
ToggleButtonLib/build/
ToggleButtonLib/project.properties
ToggleButtonLib/res/
ToggleButtonLib/src/
app/.gitignore
app/app.iml
app/build.gradle
app/google-services.json
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
circulartools/.gitignore
circulartools/build.gradle
circulartools/circulartools.iml
circulartools/proguard-rules.pro
circulartools/src/
cropper/
gradle/
gradlew
gradlew.bat
horizontalImageScrollerAndroid/
import-summary.txt
library-circular/
libraryCircularMenu/.gitignore
libraryCircularMenu/build.gradle
libraryCircularMenu/libraryCircularMenu.iml
libraryCircularMenu/proguard-rules.pro
libraryCircularMenu/src/
libraryFoldable/.gitignore
libraryFoldable/build.gradle
libraryFoldable/gradle-mvn-push.gradle
libraryFoldable/gradle.properties
libraryFoldable/src/
libraryIndicator/
librarySwipeListView/.gitignore
librarySwipeListView/build.gradle
librarySwipeListView/librarySwipeListView.iml
librarySwipeListView/proguard-rules.pro
librarySwipeListView/src/
local.properties
parallaxpager/
projectFilesBackup/
settings.gradle
squarecamera/.gitignore
squarecamera/build.gradle
squarecamera/proguard-rules.pro
squarecamera/squarecamera.iml
squarecamera/src/
tess-two/.classpath
tess-two/.gitignore
tess-two/.project
tess-two/.settings/
tess-two/AndroidManifest.xml
tess-two/COPYING
tess-two/assets/
tess-two/bin/
tess-two/build.gradle
tess-two/build.xml
tess-two/build/
tess-two/jni/
tess-two/lint.xml
tess-two/local.properties
tess-two/proguard-project.txt
tess-two/project.properties
tess-two/res/
tess-two/src/
tess-two/tess-two.iml
